/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
.centerevenly {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.slatebox {
  background: slategrey;
  border: 1px double black;
  margin: 0 2%;
}
html {
  background: #fffaff;
  font-size: 62.5%;
}
html,
body {
  height: 100%;
  font-family: Impact, Charcoal, sans-serif;
}
h2 {
  font-size: 4rem;
  color: firebrick;
}
h3 {
  font-size: 2rem;
  color: lightcoral;
}
h4 {
  font-size: 1.5rem;
}
p {
  font-size: 1rem;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  line-height: 3;
}
.container {
  width: 1100px;
}
header {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
header h1 {
  background-color: slategrey;
  font-size: 2rem;
  border: 1px solid black;
}
nav a {
  text-decoration: none;
  font-size: 2rem;
}
section .info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: slategrey;
  border: 1px double black;
  margin: 0 2%;
}
section .intro {
  margin: 0.5rem;
}
.skills {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.skills div {
  padding: 2%;
  background: slategrey;
  border: 1px double black;
  margin: 0 2%;
}
.work {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.job {
  background: slategrey;
  border: 1px double black;
  margin: 0 2%;
  padding: 3% 5%;
}
